/*@media (max-width: 500px){
  ons-row{
    flex-direction: column;
  }
}

ons-row {
  position:relative;
  margin:auto;
}

ons-col, ons-button {
  width: 200px;
  display: inline-block;
  margin-left: :auto;
  margin-right: auto;
  margin-bottom: 10px;
}*/
